<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <fourth driverType="Chrome" serverUrl="" xdt:Transform="Replace">
        <reporting keepScreenshot="false" takeScreenshotOnError="true" />
        <capabilities>
            <add key="--start-maximized" />
        </capabilities>
    </fourth>
    <appSettings xdt:Transform="Replace">
        <add key="Website.Url" value="https://fourth-qa.herokuapp.com/" />
        <add key="" value="" />
        <add key="" value="" />
    </appSettings>
</configuration>