<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="4.0.0.5-beta" targetFramework="net47" />
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net47" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net47" />
  <package id="Fourth.Automation.Framework.Core" version="4.2.62" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NUnit" version="3.7.1" targetFramework="net47" />
  <package id="NUnit.Console" version="3.9.0" targetFramework="net47" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net47" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net47" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net47" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net47" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.5" targetFramework="net47" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net47" />
  <package id="Polly" version="5.9.0" targetFramework="net47" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.46.0" targetFramework="net47" />
  <package id="SlowMonkey" version="1.1.1" targetFramework="net47" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
</packages>